# Django API. No trailing slash.
NEXT_PUBLIC_API_ORIGIN=http://127.0.0.1:8000
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000/api

# Production
# NEXT_PUBLIC_API_ORIGIN=https://api.neyrosoft.az
# NEXT_PUBLIC_API_URL=https://api.neyrosoft.az/api
